By tick bite; larval ticks are carried on migrating birds, which are refractory to the virus.
Acute: hepatomegaly, prolonged fever, anorexia, weight loss, nausea, vomiting, cough, diarrhea, urticaria, lymphadenopathies, and arthralgias. Chronic (which may be asymptomatic and last for more than 10 years): biliary obstruction with upper abdominal pain, cholecystitis, cholangitis, and extrahepatic cholestasis.
Piscivorous (fish-eating) mammals, including: humans, dogs, cats, pigs, rats, and several species of wild animals
Herbivores become infected on contaminated soil. Omnivores and carnivores are infected by feeding on infected prey or carcases
Aedes camptorhynchus, A. normanensis, A. notoscriptus, and Coquillettidia linealis are vectors in some circumstances.
Colorado tick fever is only present in North America (USA and Canada).
Through inhalation of aerosolized microconidia from disturbed soil or guano. Also by inoculation and organ transplantation.
Fecal–oral route, mainly via fecally contaminated water, but also via: food, materno-fetal, and transfusion of blood products. 
Avoid contamination of skin by potentially infected soil or water.
It is endemic in tropical and subtropical climates, such as Papua New Guinea, South Africa, parts of India and Indonesia, and among the aborigines of Australia. In the USA, it is more common in African-Americans, of people in lower socioeconomic status, and those with poor hygiene. Donovanosis increases the risk of subsequent HIV infection.
Personal anti-mosquito precautions.
Rodents, principally rats and sylvatic ground squirrels: marmots, susliks, and prairie dogs.
Tick to mammalian host to tick for Ehrlichia and Anaplasma; trematode to aquatic host to trematode for Neorickettsia. Human is a dead-end host for all.
Standard louse control and personal tick protection. Chemoprophylaxis may be used for bite victims.
Microscopic examination of sputum for eggs (acid-fast staining destroys eggs), examination of feces; ELISA for serology.
Ingested E. histolytica non-motile cysts will excyst in the gastrointestinal tract. In the colon, the trophozoites encyst and the cysts are excreted with the feces.
RMSF cases are usually found in rural areas, and less commonly in urban areas. Residing in wooded regions or areas with high grass and exposure to dogs increases the risk of RMSF. RMSF is sporadic and rarely occurs in clusters.
Snail–human–snail
serology (IFA; ELISA); rapid dipstick test.
Detection of trypanosomes in blood, lymph, or CSF after concentration
Freshwater snails: Semisulcospira, Thiara, Aroapyrgus, and others.
Humans.
Loiasis occurs in areas where the Chrysops vectors breed in the tropical rainforest of Central Africa
Reducing sexual transmission; raising awareness of individual HIV status; protecting IVDUs through needle/syringe exchange and methadone replacement programs; reducing mother to child transmission
Doxycycline for all patients.
Lyme disease is the most commonly reported vector-borne diseasein both North America and Europe. Incidence is seasonal, corresponding to increased vector activity during summer. Climate change, more housing in wooded areas, and expanding populations of deer, and small rodents may be responsible for the increase in Lyme disease cases.
Diphyllobothriosis, Dibothriocephaliasis, broad or fish tapeworm infection
Opisthorchis felineus in Europe and northern Asia, O. viverrini in Southeast Asia
Breakbone fever.
For C. philippinensis: eggs are passed in the stools of humans and fish-eating birds; Ingestion of raw or undercooked fish results in infection of the human and bird host. The adults of C. philippinensis reside in the mucosa of the human small intestine, where the females lay eggs.
Serology (IgM ELISA, IFA); RT-PCR. Virus isolation is difficult.
Hepatitis C virus (HCV) is an enveloped RNA virus (hepacavirus) and belongs to theflaviviruses. 
There is a vaccine against Junin virus only.
appropriate disposal of birth products; routine testing of risk animals; restricted movement of animals in infected regions; culling of infected animals; a human and veterinary vaccine is available in several countries; pasteurize milk.
There are three transmission cycles: (1) sylvatic or jungle, (2) intermediate or savannah, and (3) urban.
Virus isolation from stool, CSF or oropharyngeal secretion, Alternatively, the diagnosis can be established by serological testing.
In high-endemic regions like Southeast Asia, Africa, and the Amazon basin, most individuals become infected during childhood (mother-to-child, or child-to-child). In developed regions, the prevalence is low and important routes of transmission are different, consisting mostly of unsafe sexual practices, IVDU, and occupational transmission in healthcare workers. Chronic HBV associated liver cirrhosis is more common in developed nations than in Southeast Asia, but the incidence of hepatocellular carcinoma is lower compared to Southeast Asia.
Whitmore disease.
avoiding wooded and bushy areas; insect repellents; minimize bare skin check for tick bites
Hantaviruses, a large group of different, enveloped, single-stranded, negative-sense viruses with a tripartite RNA genome, that belong to the Bunyaviridae family. 
Oral antibiotics commonly used are: doxycycline or amoxicillin. iv ceftriaxone or penicillin.
River blindness, onchodermatitis.
Congo fever, Congo–Crimean hemorrhagic fever, Central Asian hemorrhagic fever
Common unspecific symptoms are acute febrile illness with chills, sweats, nausea, headache, and vomiting. P. vivax can lead to severe anemia, acute respiratory distress, liver failure, renal failure, and even cerebral malaria.
Human buccal flora.
Drain abscesses, iv ceftazidime, meropenem or imipenem
Mayaro virus (MAYV), an enveloped, single-stranded, positive sense RNA virus, genus Alphavirus in the family Togaviridae, belonging to the Semliki Forest virus complex.
None. Diagnosis is made by clinical examination.
Cutaneous anthrax: penicillin, ciprofloxacin or doxycycline po; severe anthrax (GI or inhalation): ciprofloxacin iv preferred. Clindamycin can inhibit toxin production.
Domestic and peridomestic rodent control, disinfection of rodent-contaminated areas.
Pigs or humans ingest eggs from contaminated environment. Adult tapeworms will only develop in humans after eating raw or undercooked pork containing cysticerci. It takes 2 months for larvae to become an adult worm and produce eggs (up to 300,000 eggs per day).
Infected individuals shed bacteria into environment, contaminating water and food products
Hard ticks
Colorado Tick Fever Virus (CTFV)
Contamination of a break in the skin by bacilli in the environment, or by the bite of an infected aquatic insect or mosquito.
Need to treat both P. ovale blood and liver stage with chloroquine (blood stage) and primaquine (liver stage).
A granulomatous fungal infection of the lung, skin, bone or genitourinary tract. Acute: fever, cough and pulmonary infiltrate. Chronic infection erythematous papules on the face and extremities, low-grade fever, and weight loss
Coxiellosis, Query fever.
FA staining of frozen skin sections taken from the nape of the neck, or postmortem brain tissue
Poliovirus, an RNA enterovirus
None.
Through contamination of penetrating wounds (e.g. by thorns, splinters)
This is unknown at present.
SARS is thought to have emerged in Guangdong Province, China, in November 2002 and within 6 months cases were detected in 26 countries, with local transmission occurring in 6. In total over 8,000 cases and almost 800 deaths were recorded and, remarkably, much of the global transmission of SARS can be traced to a single individual who disseminated infection at a hotel in Hong Kong. 
ONNV is a mutant of CHIKV that appeared in 1959 in Uganda and was spread by anopheline mosquitoes across the malaria belt of Africa, leading to a large mosquitoborne virus epidemic. There was a small outbreak in Côte d’Ivoire in 1984–1985 and again in 2003, also described as Igbo-Ora virus and a small recurrence in Uganda in 1996. Serological evidence suggested its presence in humans in Kenya in 1994–1995 and in horses in Nigeria, but serological tests are subject to cross-reactions with CHIKV antibody. 
Gram stain and microscopy of cerebrospinal fluid, and culture. PCR.
Oral rehydration therapy (ORT) using reduced osmolarity ORS; Antibiotics are only useful to prevent spread
conventional microscopy; blood culture; quantitative buffy coat (QBC) fluorescence; PCR.
Vector control; mosquito repellent; insecticidetreated bed nets; treatment of infected humans.
Crustaceans infected with metacercaria larvae are ingested by the reservoir host, excyst in the gut and migrate to the tissues, usually the lungs. There they encapsulate, mature, and lay eggs.
Ova are excreted with the feces of infected animals, and develop into larvae which are ingested by squid and other invertebrates – these in turn are ingested by fish which may be eaten raw by humans.
Mainly humans; rarely non-human primates and other mammals.
Acute irregular fever, chills, sweating, arthralgia, headache, and depression.
Microscopy for eggs in stool (S. mansoni) or urine (S. haematobium) samples; quantification of eggs in stool by Kato–Katz method; PCR.
None.
By tick bite, blood transfusion; bone marrow for transplantation is routinely screened
Often asymptomatic in healthy individuals. Symptomatic cases: fever, chills, myalgia, fatigue, and jaundice, hemolytic anemia; severe cases: retinal infarctions, ecchymoses and petechiae, acute respiratory failure, congestive heart failure, DIC, liver and renal failure, and splenic rupture
Isolation of agent from blood, urine, sputum, pus or skin lesions; direct immunofluorescence; serology
F. hepatica is endemic on all continents but is of particular public health importance in the Andean countries (especially Peru and Bolivia), Ecuador, Chile, Argentina, Brazil, Venezuela, Cuba, Mexico, the Islamic Republic of Iran, Egypt, Philippines, and western Europe (e.g. France, Portugal, and Spain).
Hendra virus: through contact with infectious body fluids, including urine, saliva, and nasal discharge, or during autopsy of infected horses.
Freshwater snails: Oncomelania spp. for S. japonicum, Robertsiella spp. for S. malayensis, Neotricula spp. for S. mekongi.
High fever with headache, chills, neck stiffness, anorexia, nausea, and vomiting developing into aseptic meningitis or encephalitis with disorientation, coma, seizures, spastic paralysis, drowsiness, and stupor. Death occurs from respiratory complications or seizures.
tick
Inhalation of spores from disturbed soil.
None
PCR on blood or skin biopsy, or IFA on the latter
10% of children and 30–50% of adults present with symptoms of acute HBV infection similar to hepatitis A and last several weeks: fatigue, abdominal pain, nausea, vomiting, myalgia, jaundice, dark urine, and light stools. Fever is often absent and arthritis and rash may be present. Chronic disease evolves to cirrhosis or hepatocellular carcinoma and eventually death. 90% of infants who are infected in their first year develop chronic infection.
Rodent–rodent, with humans as accidental dead-end hosts. Infected reservoir hosts are asymptomatic and excrete infectious virus in the urine.
Typhoid fever incidence is highest among infants and children living in South Central and Southeast Asia and South Africa.
An inactivated virus vaccine (not licenced) is limited available to protect laboratory workers, veterinarians and others ‘at risk.’ Animal movement should be banned during outbreaks. Protective clothing worn by those exposed to infected animals/tissue. All animal products (blood, meat and milk) should be thoroughly cooked before eating. Infection control for those taking care of severe human cases. Personal anti-mosquito precautions. Larviciding at mosquito-breeding sites.
Usually asymptomatic or mild. Diarrhea alternating with constipation, vomiting and anorexia, edema of the face, abdominal wall and legs, ascites.
Via a bite or a scratch by an infected host animal. Human infection via S. moniliformis ingestion (milk, water, food)
Minute hard ticks
Streptobacillus moniliformis
Rats and other rodents, dogs, cattle, and pigs
Consumption of raw, undercooked, dried, salted, or pickled freshwater fish.
Clean wounds, perform debridement and remove foreign objects. A one-off dose of im or iv human tetanus immunoglobulin removes unbound toxin. Metronidazole in large doses for 7–14 days to eradicate C. tetani infection.
Humans.
Principally wild birds in North America. Wild rodents, bats, reptiles, or amphibians may also be involved. 
Western equine encephalitis virus (WEEV)
Amphotericin B desoxycholate and/or azole antifungals; surgery to remove foci.
Hemorrhagic fever with renal syndrome (HFRS), Korean Hemorrhagic Fever, Hemorrhagic Nephrosonephritis, Nephropathia epidemica
Outside Africa it is the dominant species, mainly in Asia. In 2010, an autochtonous P.vivax case was diagnosed in north eastern Spain.
None.
Francisella tularensis tularensis (Type A), F. tularensis holarctica (Type B), F. tularensis mediasiatica
Doxycycline is the treatment of choice
Chikungunya virus (CHIKV), an enveloped RNA virus, genus Alphavirus in the family Togaviridae.
Praziquantel is recommended
Amphotericin B iv or itraconazole.
Most infections are asymptomatic or mild. Symptoms are: abdominal discomfort, diarrhea, vomiting and weight loss, rarely anemia.
Rodent control; avoid close contact with reservoir animals; prophylaxis with penicillin or doxycycline following rat bite.
Avoid accumulations of bird or bat droppings such as are found in caves.
The sandfly Lutzomyia verrucarum
Environment (soil) to human.
Personal anti-mosquito precautions
Small wild mammals such as rodents, snowshoe hares, deer and vector mosquitoes (venereal and transovarian transmission occur).
Humans are viremic at a titer high enough to infect mosquitoes for up to 5 days after infection.
None.
Mosquitoes, principally canopy-dwelling Haemagogus and Sabethes spp. The virus has also been isolated from Psorophora, Mansonia and Culex spp.
Treatment of uncomplicated B. quintana bacteremia is with a macrolide (erythromycin, azithromycin) or doxycyclin. Third-generation cephalosporin or gentamicin for the first 2–3 weeks
Symptoms range from benign pulmonary infection (fever, chills, cough, chest pain, dyspnea), night sweats, anorexia and weight loss to progressive pulmonary or extrapulmonary disease involving skin, bones and/or joints, the central nervous system
Probably non-human primates; the virus has been isolated from monkeys in Panama and French Guiana, also in the USA from a north-bound migratory bird.
Amplifying hosts for CVV are mainly large mammals (caribou, deer, horses, sheep)
Contact with infected animal tissue
The Americas were certified polio-free in 1994, the WHO Western Pacific Region in 2000 and Europe in 2002 (in 2010, there was importation of polio into Europe). The GPEI has four main strategies to stop transmission of the wild poliovirus: (1) high infant immunization coverage with four doses of oral poliovirus vaccine (OPV) in the first year of life; (2) supplementary doses of OPV to all children under 5 years of age during SIAs; (3) surveillance for wild poliovirus through reporting and laboratory testing of all acute flaccid paralysis (AFP) cases among children under 15 years of age; (4) targeted campaigns once wild poliovirus transmission is limited to a specific focal area.
By tick bites, ingestion of uncooked, parasitized aquatic hosts
personal anti-mosquito measures; eliminating potential breeding sites (e.g. old tires) and filling of basal tree-holes with concrete.
Smallpox vaccine is protective. Hospital personnel should isolate patients and take infection control precautions.
Microscopy of respiratory secretions, pleural fluid, tissue. coccidioidal serologic tests; cocciodin or spherulin skin test
Eggs are passed in feces into freshwater bodies, mature in about 2 to 3 weeks, depending on water temperature, and hatch ciliated larvae (coracidia). Coracidia develop into procercoid larvae after ingestion by freshwater crustaceans (copepods). The copepods are eaten by a second intermediate host, typically small fish. The larvae migrate into the musculature where they develop into the human infectious plerocercoid larvae.
By airborne droplets from or contact with nose and throat secretions of infected persons, very high from 4 days before to 4 days after rash appears, or with fomites contaminated with those secretions
A generally mild and short-lived illness with fever, coryza, conjunctivitis, lymphadenopathy, and a fine maculopapular rash beginning on the face later spreading to the trunks and limbs.
Clostridium tetani
Detection of virus in respiratory specimens, stool or blood by RT-PCR
By mosquito bite.
Bartonella quintana
reported in the Middle East, the Indian Subcontinent, and various parts of Southeast Asia.
Personal protection from sandfly bites (e.g. protective clothing, insecticide-treated bednets, residual insecticiding of breeding places).
By bite of the female sandfly. rarely by blood transfusion or transplacental
During bloodmeal, the sandfly ingests infected blood with amastigotes. In the host cell the promastigotes develop into amastigotes.
Soil, animal hair, wool or hides, particularly goat skins contaminated with soil.
Measles virus, a single-stranded RNA negative-sense morbillivirus, family Paramyxoviridae.
acute watery diarrhea, severe watery diarrhea with vomiting, leading to severe dehydration
Hantavirus pulmonary syndrome (HPS), Hantavirus cardiopulmonary syndrome, Four Corners disease.
Sheep liver fluke disease, pharyngeal fascioliasis.
By insect bite.
Plasmodium knowlesi
Anti-mosquito precautions.
Rarely by tick bite.
sometimes biphasic, severe headache, myalgia, arthralgia, retro-orbital pain, anorexia, nausea, vomiting and a maculopapular rash (not easily seen on dark skin)
Humans.
Transmission to humans occurs by rubbing infected louse feces
Uncomplicated malaria: acute febrile illness with headache, chills, sweats, nausea, and vomiting; hepatosplenomegaly. severe malaria can be: cerebral malaria (confusion, seizures, impaired consciousness to coma), hemolysis, severe anemia, hypotension, renal failure, metabolic acidosis and death.
Cases are mainly sporadic and have been reported in humid areas of the tropics and subtropics world wide, mainly during the rainy season. Sporadic human infections with glanders (B. mallei), occur in equine veterinarians and pathologists, horse butchers, and laboratory workers.
Food-borne and transplacental (mother to child).
Tetracyclines, chloramphenicol, or penicillins for 7 days
By animal bite through saliva commonly or scratch (rarely). Infected livestock do not bite typically, but may infect a person through their saliva.
Rotavirus
Early diagnosis and treatment; safe sexual practices (condom use). Proper bodily hygiene.
Consumption, white plague, TB.
Microscopy for eggs on stool samples by the Kato–Katz or rapid sedimentation techniques (RSTs) are diagnostic for the chronic infection.
Hendra virus: manage contact between fruit bats and horse by basic husbandry measures such as placing food and water points under cover, regulate movement of horses from areas where the disease is occurring, regulate import of horses from Australia during outbreaks. Nipah virus: avoid contact with fruit bats and their discharges;
Wildlife–tick–wildlife. The tick ingests infected blood of reservoir host, virus passes from gut to hemocoele to salivary glands and is transmitted to a new host at the next feed.
Humans
Junin virus is spread annually around harvest time by rodents to farmers. The range of Junin virus is extending to the north, putting an estimated 5 million people at risk. The other viruses are brought into villages and houses by peridomestic rodents, causing sporadic outbreaks with intervals of several years. Pathogenicity of Whitewater Arroyo virus remains to be confirmed since there was no virus isolation from the Californian cases.
Dust control where feasible (e.g. paving roads). Screening of organ donors for coccidioidomycosis in endemic areas.
Polioviral fever, infantile paralysis, acute flaccid paralysis (AFP), bulbar polio.
Argentinian (Junin virus), Bolivian (Machupo virus), Brazilian (Sabia virus), and Venezuelan (Guanarito virus) hemorrhagic fevers.
None.
Anthrax has a worldwide distribution. Anthrax occurs mainly in rural areas in countries where there is no livestock vaccination and no veterinary control of slaughtered animals. Of note is the terrorist distribution of anthrax powder by mail in the USA in 2001 killed 5 people.
Tick-borne encephalitis (TBE) virus
RVFV primarily causes disease in animals in Africa and Middle East, with human cases occurring during animal epidemics. RVF was initially confined to Sub-Saharan Africa, but appeared in Egypt in 1977 and was discovered on the Arabian Peninsula (Saudi Arabia and Yemen) in 2000 and later also on the Comoros Islands.
Taeniosis: detection of eggs in stool by microscopy; serology; Neurocysticercosis: histology; CT or MRI scan brain;
90% of the cases will be self-limited and asymptomatic; 10% develop invasive-intestinal disease (colitis), and <1% extra-intestinal disease (liver abscess). Amebic colitis presents with abdominal cramps, weight loss, and watery or sometimes bloody diarrhea
Foxes (including urban foxes) are the definitive hosts, wild rodents (mainly Arvicolidae), voles and lemmings are intermediate hosts.
Clinical evident disease is more common in age group 15–44 years, with following symptoms: fatigue, fever, nausea, vomiting, abdominal pain, jaundice, dark urine, and light stool. 
LFV was isolated from a missionary nurse living in Lassa, Nigeria, in 1969. 
Benznidazole, pentamidine, melarsoprol, eflornithine, suramin, and nifurtimox are effective in acute cases
Humans. Cattle and other livestock may harbor C. ulcerans
Sudden onset fever, frontal headache, backache, diarrhea and a rash
primarily causes pneumonia, meningitis, and bacteremia. Hib meningitis may present acutely or subacutely with fever, vomiting, lethargy, irritability, and a bulging fontanelle in infants or a stiff neck in older children
Sudden onset of joint pain; fatigue, marked arthralgia and myalgia in more than 40%, stiff and swollen joints in 60–85% of cases; anorexia
Detection of toxin in serum, stool or wound by mouse inoculation or ELISA; electromyography.
Rocky Mountain spotted fever (RMSF), North American tick typhus, New World spotted fever, Tick-borne or tick typhus, Tobia fever (Colombia), Sao Paulo fever or ‘febre maculosa’ (Brazil), and fiebre manchada (Mexico).
Supportive and antibiotics: oral doxycycline, ampicillin or amoxicillin for mild disease, parenteral penicillin G, ceftriaxone or cefotaxime for severe disease.
Mainly a clinical diagnosis: subacute eosinophilic meningitis in an endemic area
Serology (IFA,ELISA)or RT-PCR on bloodor CSF. Serology may cross-react with otherflaviviruses andlead to false-positives.
Hepatitis E virus (HEV), a non-enveloped singlestranded RNA virus, genus Hepevirus, the single member in the Hepeviridae family. 
Mosquitoes, primarily Aedes and Ochlerotatus spp., secondarily Anopheles spp. Ae. triseriatus (eastern treehole mosquito) is the most important vector of LACV in the USA
Ancylostomiasis, Necatoriasis, Uncinariasis, ground itch.
Therapy is aimed at neutralizing the potent exotoxin, eradicating the organism, and providing supportive care. Immediate treatment with diphtheria antitoxin and iv antibiotics (penicillin or macrolide).
Supportive with pain management.
Lockjaw.
Leucosphyrus group of anophelines
Personal anti-mosquito precautions; vector control; screening blood and transplant products. There are several veterinary vaccines.
Polyarthritis and rash, epidemic polyarthritis, Barmah Forest virus disease, and Ross River virus disease, Murweh virus disease.
Invasive disease: tinidazole or metronidazole. For severe amebic colitis antibiotics are added. Surgery for intra-abdominal complications. Aspiration for liver abscesses. paromomycin
Humans and possibly cats.
Trench fever, quintana fever, quintan fever, shinbone fever, shank fever, His-Werner disease, and Wolhynia fever.
culture; serum agglutination test; PCR.
Venezuelan equine encephalomyelitis, Venezuelan equine fever, Mucambo virus fever.
Vaccination of people at high risk (veterinarians, animal rescue personnel, laboratory staff, etc.), avoid contact with stray dogs or cats, sick or dead wildlife; vaccinate all dogs and cats; distribute baits containing oral vaccine in wildlife habitat; quarantine dogs arriving from infected countries. Culling of stray dogs is ineffective; sterilization prevents replacement breeding.
Echinococcus multilocularis
Ziehl–Neelsen stain on smears or biopsies, culture (takes 6–12 weeks), PCR, histopathology.
Most infections are asymptomatic or mild and resolve without treatment. The acute phase begins with fever, malaise, chest pains and a dry cough.
Plasmodium ovale
Wuchereria bancrofti, Brugia malayi, and B. timori
By mosquito bite.
Rubella virus
Approximately 1 million people are infected with Schistosoma spp. in Cambodia, China, Lao PDR, and the Philippines. Higher disease prevalence rates in endemic regions are found close to large irrigation projects or dams. S. japonicum is found in China, Philippines, and Indonesia.
Supportive, there is no specific treatment.
Asianmonkeys can be infected, but do not seem to constitute an important reservoir. 
Unknown.
Supportive.
Fibrous subcutaneous nodules in the head and shoulders, pelvic girdle and legs, a pruritic rash, disfiguring skin lesions, skin depigmentation (leopard skin), edema and skin atrophy, blindness, growth arrest, and epilepsy
Most commonly, the urban container-breeding, daybitingmosquitoesAedes aegypti and Ae. albopictus
Detection of viral RNA in blood by RTPCR
Fasciola hepatica and Fasciola gigantica
Ebola viruses (genus Ebolavirus), marburg viruses (genus Marburgvirus), and ‘cueva viruses’, family Filoviridae, order Mononegavirales; enveloped, single-stranded, negative-sense RNA viruses.
The highest global burden of CL is in the Old World. In the Americas, Bolivia, Brazil, and Peru have the highest burden of CL. Transmision can also occur in deforested areas.
fatigue, weakness, vertigo, blurred vision, dry mouth, difficulty in speaking and swallowing, progressing to an inability to breathe without assistance. Vomiting, diarrhea or constipation may occur.
F. tularensis tularensis Type A is found in North America. Type B is found throughout the northern hemisphere, mainly in Eurasia. In Europe, most cases are reported from Sweden, Finland, and Russia, and is recently emerging in Spain.
acute severe gastric pain, nausea, and vomiting and sometimes hematemesis. Intestinal anisakiasis can cause abdominal pain, obstruction, peritonitis, ulceration, and bleeding.
Rarely reported in the Americas and Europe, sporadic in parts of Southeast Asia, especially Thailand, China, and Vietnam. Since S. suis is often misidentified, S. suis may be more common in certain parts of the world with high pig densities.
Uncomplicated P. falciparum malaria: artemisinin-based combination therapies (ACTs) Severe malaria: artesunate iv or im;
Main transmission is fecal–oral
Direct transmission via skin to skin or oral contact (also via sharing drinking and eating utensils).
Dry, sandy alkaline soil. In North America, the fungus is mainly found in the Lower Sonoran Life Zone with low rainfall and high temperatures
Unclear, but likely through inhalation of P. marneffei conidia from the environment; cutaneous inoculation
By tsetse fly bite (day biters); blood transfusion, and congenital.
Supportive, there is no specific treatment.
Q fever has been described world wide, with the exception of New Zealand.
