Mainly humans; rarely domestic animals
Cat liver fluke disease, foodborne trematodiasis
Ancylostomiasis, Necatoriasis, Uncinariasis, ground itch.
None.
Argentinian (Junin virus), Bolivian (Machupo virus), Brazilian (Sabia virus), and Venezuelan (Guanarito virus) hemorrhagic fevers.
Larva currens.
Herbivores become infected on contaminated soil. Omnivores and carnivores are infected by feeding on infected prey or carcases
ticks and biting flies (deer flies, tabanids). Dermacentor reticulatus and Ixodes ricinus
The dimorphic fungi: Histoplasma capsulatum (worldwide) and H. capsulatum var. duboisii (Africa)
Strongyloides stercoralis
Intestinal capillariasis is generally found in countries where raw freshwater fish is eaten. C. philippinensisis endemic in the Philippines, Laos, and Thailand.
Personal protection from sandfly bites (e.g. protective clothing, insecticide-treated bednets, residual insecticiding of breeding places).
The detection of virus in saliva, cerebrospinal fluid, urine, or seminal fluid by culture or RT-PCR.
Human monocytic ehrlichioses (HME), human granulocytic anaplasmosis (HGA), Sennetsu fever.
IgM capture or IgG ELISAs
WNV was cultured for the first time from a woman with a fever of unknown origin in the West Nile district of Uganda in 1937. Molecular studies suggest that WNV emerged in Africa and spread through migrating waterbirds. Until the introduction of WNV in New York in 1999, WNV infections usually caused mild disease outbreaks and episodes of neuroinvasive disease in the old world. Since the introduction to northeast America, the virus has spread to most regions in North America, Canada, Mexico, the Caribbean and several cases in South America.
Light microscopy of Giemsa stained; rapid diagnostic tests (RDTs); PCR
biopsy specimen by microscopy; PCR tests have been developed; culture of promastigotes
Taenia solium infection, neurocysticercosis, cerebral cysticercosis, taeniosis, taeniasis.
WHO estimates that 50,000 to 70,000 people are infected each year, with about 60 million people at risk in 36 countries. The chronic gambiense form in West and Central Africa accounts for 95% of cases and is seperated from rhodesiense by the Great Rift Valley. 
Control deer population; avoid areas with ticks; tick bite precautions: cover skin, repellent on skin and clothing
Bunyamwera group viruses are enveloped, singlestranded, RNA viruses genus Orthobunyavirus of the family Bunyaviridae
Less than 1% of infections result in acute flaccid paralysis, with around 90% of infections being subclinical. In 10% symptoms may include fever, malaise, headache, neck stiffness, pain in the limbs, nausea, and vomiting. More severe paralysis with quadriplegia and breathing problems (bulbar polio) may occur.
Serology (IgM ELISA, IFA of erythrocytes) and RT-PCR from the blood or CSF.
Microscopic identification of eggs in the stool
Rodent–rodent, with humans as accidental dead-end hosts. Infected reservoir hosts are asymptomatic and excrete infectious virus in the urine.
High fever, conjunctivitis, coryza, cough, maculopapular rash beginning on the face, spreading downwards to reach the hands and feet. Characteristic small white spots (Koplik spots) on the buccal mucosa. Complications may consist of otitis media, pneumonia, laryngotracheal bronchitis (croup), blindness, severe skin infections, severe diarrhea and encephalitis, sometimes fatal.
Bilharziasis, snail fever, Katayama fever or syndrome, intestinal schistosomiasis.
Mosquitoes
Aquatic insects;
Hendra virus: manage contact between fruit bats and horse by basic husbandry measures such as placing food and water points under cover, regulate movement of horses from areas where the disease is occurring, regulate import of horses from Australia during outbreaks. Nipah virus: avoid contact with fruit bats and their discharges;
Avoid tick bites, use repellent on skin and repellent or acaricide on clothing, check body daily for ticks after exposure, boil or pasteurize milk from cows, sheep, and goats in endemic areas.
Wild birds
Serology (acute and convalescent sera) using the microscopic agglutination test (MAT). PCR may provide early diagnosis.
Mediterranean spotted fever (MSF), Israeli spotted fever (ISF), Siberian or North Asian tick typhus (STT/ NATT), Queensland tick typhus (QTT), Japanese or Oriental spotted fever (JSF/OSF), Astrakhan fever (AF), African tick bite fever (ATBF), Flinders Island spotted fever (FISF), Indian tick typhus (ITT), Boutonneuse fever.
Personal anti-mosquito precautions
Supportive, there is no specific treatment.
Pig-to-pig, with occasional spill-over to humans.
Convalescence is prolonged. PUUV virus causes less severe disease. 
Community management by SAFE strategy
most cases reported from Afghanistan, Algeria, Pakistan, Saudi Arabia, and Syria in the Old World.
None.
Supportive, there is no specific treatment.
Inhalation of contaminated aerosols generated from infected animal body fluids or dust contaminated with dried animal excretions.
Supportive, there is no specific treatment
Serology; PCR on acute phase whole blood; isolation by cell culture in reference labs.
Anthrax has a worldwide distribution. Anthrax occurs mainly in rural areas in countries where there is no livestock vaccination and no veterinary control of slaughtered animals. Of note is the terrorist distribution of anthrax powder by mail in the USA in 2001 killed 5 people.
The protein concentrates in tissues of the central nervous system. Prions are resistant to normal cooking temperatures and humans are thought to be infected by ingesting contaminated food.
Domestic and peridomestic rodent control, disinfection of rodent-contaminated areas.
By mosquito bite. Airborne transmission has been reported among laboratory personnel.
Wildlife–tick–wildlife. The tick ingests infected blood of reservoir host, virus passes from gut to hemocoele to salivary glands and is transmitted to a new host at the next feed.
Mosquito-host-mosquito. The mosquito becomes infected when feeding on a viremic reservoir host. The virus reaches the salivary glands and is transmitted by feeding on the next host in several days.
Through inhalation of aerosolized microconidia from disturbed soil or guano. Also by inoculation and organ transplantation.
Consumption, white plague, TB.
PCR on blood or skin biopsy, or IFA on the latter
By mosquito bite.
Uncomplicated P. falciparum malaria: artemisinin-based combination therapies (ACTs) Severe malaria: artesunate iv or im;
Doxycycline is the treatment of choice.
Human.
Enterotoxin-producing Vibrio cholerae 01 and 0139 Bengal.
Praziquantel is recommended
Bat to bat via unknown route. Humans and domestic animals are incidental hosts.
Ingestion of raw or undercooked fish.
By tick bite; larval ticks are carried on migrating birds, which are refractory to the virus.
Humans.
The HTLV-1infected individual who tends to immunoactivation can develop HTLV-associated uveitis, polymyositis, inclusion body myositis, arthritis, pulmonary infiltrative pneumonitis, Sjogren syndrome and HAM/TSP.
HFRS is caused by Myodes-, Rattus-, and Apodemusborne hantaviruses.
None.
Microscopy for eggs in stool (S. mansoni) or urine (S. haematobium) samples; quantification of eggs in stool by Kato–Katz method; PCR.
Kala-azar (Hindi for black sickness), black disease, dum-dum fever.
culture or PCR. S. pneumoniae antigen test in urine.
Loiasis occurs in areas where the Chrysops vectors breed in the tropical rainforest of Central Africa
By airborne droplets from or contact with nose and throat secretions of infected persons, very high from 4 days before to 4 days after rash appears, or with fomites contaminated with those secretions
Supportive, Aspirin should be avoided.
Granuloma inguinale, granuloma venereum.
Sudden onset of high fever, headache, chills, vomiting, myalgias, photophobia and dysthesias
Food-borne and transplacental (mother to child).
Colorado tick fever is only present in North America (USA and Canada).
The vector defecates during feeding, and the infected feces are rubbed into the bite wound or conjunctivae, mucousmembranes, or abraded skin 
Rarely by tick bite.
The fungus can be isolated from nine-banded armadillos (Dasypus novemcinctus). The disease has also been reported in dogs and other animals.
Prevention is focused on eliminating BSE in cattle, preventing infected bovinematerial entering the animal and human food chain, and reducing the risk of secondary transmission to humans in the healthcare setting.
For W. bancrofti: Culex quinquefasciatus, Anopheles spp., and Aedes spp. in the Pacific Islands; for B. malayi: Mansonia, Anopheles, and Aedes;
It is estimated that 37 million people are infected worldwide, 97% of them in Africa, and remaining in small foci in Central and South America and Yemen.
None.
Human infections occur via two main transmission routes: (1) mosquito bite, and (2) direct or indirect contact with the blood or organs of infected animals (e.g. slaughtering, butchering, veterinary procedures, animal births, disposing of carcasses or fetuses) by percutaneous inoculation or inhaling aerosols.
The first hantavirus found in the New World was Sin Nombre virus in the ‘Four Corners’ area (USA) in 1993, where an outbreak occurred of severe pulmonary disease in previously healthy adults.
Nantucket fever, Piroplasmosis.
Spherical, enveloped, negative sense RNA viruses forming a subgroup of the Bunyaviridae family.
Tick-small mammals and birds-tick; large mammals are necessary to maintain tick populations.
Aedes africanus, Ae. apicoargenteus, Ae. luteocephalus, Ae. aegypti, Ae. vittatus, and Ae. furcifer mosquitoes
Access to clean water and sanitation; protective clothing for occupational risk; after accidental exposure, dry the skin and apply 70% alcohol;
By sexual contact.
Giant intestinal fluke infection.
Personal anti-tick precautions and inactivated mouse-brain vaccine
Culture (cysteine-enriched media) or PCR on specimens of affected tissues. Serology on acute and convalescent sera.
Common unspecific symptoms are acute febrile illness with chills, sweats, nausea, headache, and vomiting. P. vivax can lead to severe anemia, acute respiratory distress, liver failure, renal failure, and even cerebral malaria.
For interrupting transmission: mass treatment with a single dose of albendazole or ivermectin combined with diethylcarbamazine citrate (DEC)
Hendra virus disease, Nipah virus disease.
The disease mainly affects the skin, peripheral nerves, mucosa of the upper respiratory tract and the eyes. Patients are classified as having either PL or ML. PL is milder and characterized by < 5 skin patches or lesions. ML is defined as 5 skin patches or lesions.
Pus contains visible granules, histopathology of biopsy, culture (slow).
Microscopy of stained thick blood smears; membrane filtration; PCR
Sudden onset fever, frontal headache, backache, diarrhea and a rash
The mosquito becomes infected with MAYV during feeding on a viremic host. The virus crosses the gut wall and multiplies in the organs of the mosquito. After a few days, depending on the ambient temperature, the virus reaches the salivary glands and is injected into the next host during feeding.
Typically a cardiopulmonary infection as opposed to the primarily renal infection produced by Old World hantaviruses
Human–mosquito–human around housing; monkey–mosquito–monkey and monkey–mosquito–human in the forests of West Africa and Malaysia.
principally in India and Sub Saharan Africa. Asia and South America have lower Bancroftian filariasis prevalences (below 8%) than Sub Saharan Africa (up to 37%) and Pacific Island (up to 48%) regions.
By mosquito bite (Anopheles spp.); transmission has been described in needle sharing IVDUs and blood transfusion.
Adult worm can be extracted by carefully and slowly winding the worm around. Metronidazole or thiabendazole can facilitate the extraction process
Pentavalent antimonials; pentamidine; amphotericin.
Combination of atovaquone and azithromycin for mild-to-moderate illness, clindamycin and quinine for severe disease.
Blood culture with prolonged incubation (42 days); PCR on blood and tissue.
By mosquito bite.
Serology or RT-PCR on blood or CSF
None.
Infections are most frequent in a period of drought and winds (dust storms) after heavy rains that advance mold growth, usually late summer or early fall. It is estimated that more than 150,000 primary infections occur annually in the USA. Infections outside the western hemisphere are extremely rare and primarily imported.
Treat patients to reduce the T. b. gambiense reservoir, and cattle to reduce the T. b. rhodesiense reservoir
Deer and dogs (E. chaffeensis, E. ewingii). The whitetailed deer. Deer, ruminants, and field rodents (A. phagocytophilum);
By bite of an infected phlebotomine sandfly.
LACV is the primary cause of arboviral encephalitis in children in the USA.  JCV is most commonly found around the Great Lakes in USA and Canada. 
Intestinal capillariasis, Pudoc mystery disease, wasting disease.
Unknown. bamboo rats may amplify infectious dispersal stages for human infections.
Through breaks in skin, ingestion or aspiration of contaminated water, inhalation of contaminated dust.
Epidemic or louse-borne relapsing fever (LBRF), endemic or tick-borne relapsing fever (TBRF).
Rickettsia rickettsii, R. parkeri and R. africae
By inhalation of aerosolized excreta of the rodent host, or contact with food or household items contaminated with rodent excreta.
Tabanid adult female flies, mainly Chrysops silacea, C. dimidiata, and C. distinctipennis.
Zika virus is present in the tropical regions in the Old World and is absent from the Americas (a single case in the USA was imported from Yap island). The competence of mosquitoes on the American continent for Zika virus is unknown. The geographic distribution is confirmed by virus isolation from cases, mosquitoes and sentinel monkeys.
Trachoma is the leading infectious cause of blindness world wide and is generally a disease of poor rural communities. These communities are often in hot and dry regions. Highest prevalences are found in Sub-Saharan Africa. There is a high burden in Ethiopia and Sudan. In Asia and Central and South America, the distribution ismore focal.
Viremic reservoir host to mosquito during feeding
Blood or bone marrow culture and other infected bodily tissues (urine, CSF); serology; PCR.
Infective larvae migrate out of the mouth part of the fly during bite onto the skin and subsequently enter the wound.
Pasteurize milk; hygienic measures in farms and slaughter houses; screening of livestock.
Ancylostoma duodenale and Necator americanus
Sudden onset of high fever (biphasic), chills, myalgia, arthralgia, severe headache, ocular pain, conjunctivitis, anorexia, nausea, and sometimes vomiting.
Lassa fever virus (LFV), a spherical, enveloped, bisegmented negative strand RNA virus of the genus Arenavirus in the family Arenaviridae.
Direct fecal–oral transmission and via contaminated surfaces.
Supportive
Western equine encephalitis virus (WEEV)
WHO recommends vaccination of all newborns. In countries where prevalence is low: WHO recommends vaccination of all newborns.
Cases are mainly sporadic and have been reported in humid areas of the tropics and subtropics world wide, mainly during the rainy season. Sporadic human infections with glanders (B. mallei), occur in equine veterinarians and pathologists, horse butchers, and laboratory workers.
Mumps virus, an enveloped RNA virus of the family Paromyxoviridae.
Typical finding is transient subcutaneous swellings (Calabar swellings) which are angiedemas. These swellings are itchy and mainly occur on the limbs
For bacteria, clindamycin, trimethoprim-sulfamethoxazole, long-acting sulfonamides; for fungi, itraconazole, ketaconazole, or voriconazole.
Most HME cases are reported in the south-central and eastern USA, where A. americanum reaches high population densities. Most HME cases are single and not clustered. Sennetsu fever occurs in Asian regions where the eating of raw fish is common, such as in Japan.
Contamination of wounds with soil, dust or animal feces that contain C. tetani spores. Through injection of contaminated street drugs.
TBE, Western, European or Central European tick-borne encephalitis, Siberian tick-borne encephalitis, Far Eastern tick-borne encephalitis (formerly known as Russian Spring Summer encephalitis), diphasic milk fever, diphasic meningoencephalitis
conventional microscopy; blood culture; quantitative buffy coat (QBC) fluorescence; PCR.
Rodent control; avoid close contact with reservoir animals; prophylaxis with penicillin or doxycycline following rat bite.
Coccidioides immitis (Californian) and C. posadasii (nonCalifornian)
reported in the Middle East, the Indian Subcontinent, and various parts of Southeast Asia.
Long-tailed and pigtailed macaques, and banded leaf monkeys.
The nematodes: Anisakis simplex, A. physeteris, Pseudoterranova decipiens, and Contracaecum spp.
Francisella tularensis tularensis (Type A), F. tularensis holarctica (Type B), F. tularensis mediasiatica
HME, HGA: fever, headache, anorexia, myalgia, nausea, and vomiting; occasionally a rash. Sennetsu fever: sudden onset fever, chills, malaise, headache, muscle and joint pain, sore throat
Most infections are asymptomatic or mild and resolve without treatment. The acute phase begins with fever, malaise, chest pains and a dry cough.
Japanese B encephalitis.
Detection of trypanosomes in blood, lymph, or CSF after concentration
Drain abscesses, iv ceftazidime, meropenem or imipenem
Immunization with diphtheria toxoid
Common symptoms include fever, malaise, weight loss, and sweats. Cough may be prominent. Symptoms can come and go. Splenomegaly, hepatomegaly, and lymphadenopathy are common findings.
By tick bite, blood transfusion; bone marrow for transplantation is routinely screened
Characterized by high fever of 2–7 days. Initial symptoms include generalized body aches, myalgias, arthralgias, headache, chills, sweats, and a transitory rash. Later symptoms may include nausea, vomiting, dry cough, photophobia, neck pain, conjunctivitis, jaundice, hepatosplenomegaly, confusion
Demonstration of Strongyloides larvae on repeated stool specimens by microscopy. Serological tests. PCR has higher sensitivity than microscopy.
Human buccal flora.
Healthy humans
Probably non-human primates; the virus has been isolated from monkeys in Panama and French Guiana, also in the USA from a north-bound migratory bird.
Japanese encephalitis virus (JEV)
World wide, but close to elimination in the Americas and targeted for elimination in Europe by 2015. In the absence of vaccination the prevalence of rubella infection by the age of 13 years ranges from 20 to 95%, but is most often over 50%. Reported data on clinical rubella are a vast underestimate since it is a mild disease with a clinical picture similar to several other infections.
Domestic and peridomestic rodent control; disinfection of rodent-contaminated areas
Blastomyces dermatitidis (teleomorph Ajellomyces dermatitidis)
Vector control; mosquito repellent; insecticidetreated bed nets; treatment of infected humans.
Forest rodents, marsupials, and bats.
Mainly humans.
Studies of unvaccinated populations in some western countries indicate that almost everyone will be infected with mumps by adulthood; however the epidemiology of mumps is less well characterized in developing countries.
Clinical evident disease is more common in age group 15–44 years, with following symptoms: fatigue, fever, nausea, vomiting, abdominal pain, jaundice, dark urine, and light stool. 
Hemorrhagic fever with renal syndrome (HFRS), Korean Hemorrhagic Fever, Hemorrhagic Nephrosonephritis, Nephropathia epidemica
Gradual onset, malaise, fever, headache, sore throat, cough, nausea, vomiting, diarrhea, myalgia, chest, and abdominal pain; inflammation and exudation of the pharynx and conjunctivae are common. Progression to multisystem disease occurs in 20% of infections, with hypotension or shock, hemorrhage, pleural effusion, seizures, encephalopathy and edema of the face and neck. Transient alopecia, ataxia, and eighth cranial nerve deafness may follow; deafness may be permanent. 
Rodent control in and around dwellings; infection control in hospitals, with barrier nursing and precautions to avoid contact with body fluids.
Bilharziasis, Katayama fever or syndrome, urogenital and intestinal schistosomiasis.
Infections most often occur in rural areas. Scrub typhus is thought to occur within the so-called ‘Scrub typhus triangle,’ bounded by Siberia (north), Kamchatka Peninsula (east), Pakistan (west), and Australia (south).
RVFV primarily causes disease in animals in Africa and Middle East, with human cases occurring during animal epidemics. RVF was initially confined to Sub-Saharan Africa, but appeared in Egypt in 1977 and was discovered on the Arabian Peninsula (Saudi Arabia and Yemen) in 2000 and later also on the Comoros Islands.
Proper cooking, or freezing of fish at 20 C for 7 days destroys the parasite. Abandon use of human feces to fertilize fish ponds.
Clinical diagnosis of active disease by presence of follicles and papillae on the conjunctival epithelium of the upper eyelid.
Sanitation. Avoid eating uncooked water plants in endemic areas. Do not fertilize water plants for consumption with human or pig feces.
Freshwater (pond) snails (Lymnaeidae).
Plasmodium falciparum
Lice become infective 4–5 days after an infectious blood meal and remain so for life (20–30 days). Infected ticks remain infective for life (in excess of 10 years).
Tsutsugamushi disease, miteborne typhus fever, chigger-borne rickettsioses, coastal fever (Australia).
Rat–mollusc–rat;
Anti-mosquito precautions
Principally humans;
Main transmission is fecal–oral
Clostridium tetani
High altitude rodents, including ground squirrels and porcupines; ticks by trans-stadial transmission; 
Inhalation of arthroconidia (reproductive spores) from the environment or dusty fomites.
Human.
Consumption of raw or undercooked uneviscerated fish that have ingested infected feces of humans or waterfowl.
None.
Microscopy (Kato-Katz method).
Piscivorous (fish-eating) mammals, including: humans, dogs, cats, pigs, rats, and several species of wild animals
Symptoms range from benign pulmonary infection (fever, chills, cough, chest pain, dyspnea), night sweats, anorexia and weight loss to progressive pulmonary or extrapulmonary disease involving skin, bones and/or joints, the central nervous system
TBRF is primarily transmitted by Ornithodoros ticks. LBRF is transmitted by the human body louse (Pediculus humanus)
Chikungunya virus (CHIKV), an enveloped RNA virus, genus Alphavirus in the family Togaviridae.
Fish-eating mammals (including humans) shed C. sinensis eggs into the environment that are ingested by snails, where they develop into cercariae. The motile cercariae are released into water and infect freshwater fish and encyst in meat and skin as metacercariae
Supportive
Minute hard ticks
Phlebotomine sandfly: Lutzomyia spp. (New World) and Phlebotomus spp. (Old World).
Painless cutaneous lesions appear at the site of sandfly bite and typically these develop into ulcers with a raised border. Multiple lesions and regional lymphadenopathy may be present.
Reservoir
CHIKV has been endemic in Africa for centuries, typically causing small epidemics in rural areas. In 2005–2006 CHIKV spread from East Africa to virgin soil in the Indian Ocean Islands to produce epidemics affecting up to three-quarters of the population. CHIKV virus was imported into several European countries and caused a small outbreak with autochthonous transmission in northern Italy.
Visual inspection for adult worm; microscopic identification of larvae released
Supportive; intravenous ribavirin and convalescent human serum are recommended.
from a gingival inflammation to severe, mutilating orofacial gangrene. It begins as a small vesicle or ulcer on the gingiva that rapidly becomes necrotic
A large number of infective mosquito bites are necessary to establish infection.
Paracoccidioides brasiliensis, a dimorphic fungus.
In high-endemic regions like Southeast Asia, Africa, and the Amazon basin, most individuals become infected during childhood (mother-to-child, or child-to-child). In developed regions, the prevalence is low and important routes of transmission are different, consisting mostly of unsafe sexual practices, IVDU, and occupational transmission in healthcare workers. Chronic HBV associated liver cirrhosis is more common in developed nations than in Southeast Asia, but the incidence of hepatocellular carcinoma is lower compared to Southeast Asia.
Taeniosis: detection of eggs in stool by microscopy; serology; Neurocysticercosis: histology; CT or MRI scan brain;
Streptococcus pneumoniae (pneumococcus)
Group C viruses are geograpically limited to the tropical and subtropical areas of the Americas, and were first described in the Brazilian Amazon in the 1950s
None.
Detection of virus in respiratory specimens, stool or blood by RT-PCR
By mosquito bite.
Ingestion of tapeworm eggs from feces of foxes, dogs, and cats or contaminated fomites.
The principal clinical feature of tetanus is painful skeletal muscle spasms and rigidity.
Gradual onset of malaise, headache, and retro-orbital pain, conjunctivitis, fever, and sweats, followed by prostration. In severe cases: epistaxis, hematemesis, melena, hematuria, and gingival hemorrhage. Enceplalopathy, intention tremors, depressed deep tendon reflexes, bradycardia, and hypotension with shock are common.
None.
Benznidazole, pentamidine, melarsoprol, eflornithine, suramin, and nifurtimox are effective in acute cases
tick-borne relapsing fever is found world wide, except in Australia and New Zealand, and is rare in Europe and North America. LBRF is now found sporadically in epidemics in Africa, and is associated with refugee camps, natural disasters, and famine.
By mosquito bite. There is no direct person-toperson transmission.
None.
Large marsupials, particularly kangaroos and wallabies.
