Supportive
TBE, Western, European or Central European tick-borne encephalitis, Siberian tick-borne encephalitis, Far Eastern tick-borne encephalitis (formerly known as Russian Spring Summer encephalitis), diphasic milk fever, diphasic meningoencephalitis
S. stercoralis has a free-living (asexual) and parasitic (sexual) lifecycle. This process of auto-infection may lead to hyperinfection in immunocompromised individuals.
Eastern equine encephalitis virus (EEEV) is an enveloped, single-stranded positive-sense RNA alphavirus, genus Alphavirus in the family Togaviridae, with four lineages
CHIKV has been endemic in Africa for centuries, typically causing small epidemics in rural areas. In 2005–2006 CHIKV spread from East Africa to virgin soil in the Indian Ocean Islands to produce epidemics affecting up to three-quarters of the population. CHIKV virus was imported into several European countries and caused a small outbreak with autochthonous transmission in northern Italy.
biopsy specimen by microscopy; PCR tests have been developed; culture of promastigotes
Probably non-human primates; the virus has been isolated from monkeys in Panama and French Guiana, also in the USA from a north-bound migratory bird.
Tabanid and Stomoxys flies and mosquitoes, blow-flies
Dengue-like acute febrile illness with chills, headache, retro-orbital pain, myalgia and severe arthralgia of the small joints of the hands and feet, sometimes nausea, vomiting and diarrhea, painful lymphadenopathies and often a maculopapular rash.
Sudden onset fever, frontal headache, backache, diarrhea and a rash
Aquatic insects;
Supportive
Rodent-to-rodent though saliva, excreta and bite, with humans as an accidental, dead-end host.
Ancylostoma duodenale and Necator americanus
Serology or RT-PCR on blood or CSF
Ancylostomiasis, Necatoriasis, Uncinariasis, ground itch.
Hendra virus disease, Nipah virus disease.
Microscopic identification of eggs in the stool
Loiasis occurs in areas where the Chrysops vectors breed in the tropical rainforest of Central Africa
Convalescence is prolonged. PUUV virus causes less severe disease. 
Main transmission is fecal–oral
Unknown. bamboo rats may amplify infectious dispersal stages for human infections.
None.
Clinical evident disease is more common in age group 15–44 years, with following symptoms: fatigue, fever, nausea, vomiting, abdominal pain, jaundice, dark urine, and light stool. 
Serology; PCR on acute phase whole blood; isolation by cell culture in reference labs.
The vector defecates during feeding, and the infected feces are rubbed into the bite wound or conjunctivae, mucousmembranes, or abraded skin 
HFRS is caused by Myodes-, Rattus-, and Apodemusborne hantaviruses.
Mainly humans; rarely domestic animals
Tsutsugamushi disease, miteborne typhus fever, chigger-borne rickettsioses, coastal fever (Australia).
Adult worm can be extracted by carefully and slowly winding the worm around. Metronidazole or thiabendazole can facilitate the extraction process
By tick bite, blood transfusion; bone marrow for transplantation is routinely screened
Intestinal capillariasis, Pudoc mystery disease, wasting disease.
Tick-small mammals and birds-tick; large mammals are necessary to maintain tick populations.
Common symptoms include fever, malaise, weight loss, and sweats. Cough may be prominent. Symptoms can come and go. Splenomegaly, hepatomegaly, and lymphadenopathy are common findings.
Intestinal capillariasis is generally found in countries where raw freshwater fish is eaten. C. philippinensisis endemic in the Philippines, Laos, and Thailand.
Rodent–rodent, with humans as accidental dead-end hosts. Infected reservoir hosts are asymptomatic and excrete infectious virus in the urine.
For W. bancrofti: Culex quinquefasciatus, Anopheles spp., and Aedes spp. in the Pacific Islands; for B. malayi: Mansonia, Anopheles, and Aedes;
Cat liver fluke disease, foodborne trematodiasis
Human.
Infections most often occur in rural areas. Scrub typhus is thought to occur within the so-called ‘Scrub typhus triangle,’ bounded by Siberia (north), Kamchatka Peninsula (east), Pakistan (west), and Australia (south).
Contamination of wounds with soil, dust or animal feces that contain C. tetani spores. Through injection of contaminated street drugs.
Human–mosquito–human around housing; monkey–mosquito–monkey and monkey–mosquito–human in the forests of West Africa and Malaysia.
Typical finding is transient subcutaneous swellings (Calabar swellings) which are angiedemas. These swellings are itchy and mainly occur on the limbs
LACV is the primary cause of arboviral encephalitis in children in the USA.  JCV is most commonly found around the Great Lakes in USA and Canada. 
Sanitation. Avoid eating uncooked water plants in endemic areas. Do not fertilize water plants for consumption with human or pig feces.
Gradual onset, malaise, fever, headache, sore throat, cough, nausea, vomiting, diarrhea, myalgia, chest, and abdominal pain; inflammation and exudation of the pharynx and conjunctivae are common. Progression to multisystem disease occurs in 20% of infections, with hypotension or shock, hemorrhage, pleural effusion, seizures, encephalopathy and edema of the face and neck. Transient alopecia, ataxia, and eighth cranial nerve deafness may follow; deafness may be permanent. 
Common unspecific symptoms are acute febrile illness with chills, sweats, nausea, headache, and vomiting. P. vivax can lead to severe anemia, acute respiratory distress, liver failure, renal failure, and even cerebral malaria.
Rarely by tick bite.
Bilharziasis, snail fever, Katayama fever or syndrome, intestinal schistosomiasis.
Domestic and peridomestic rodent control; disinfection of rodent-contaminated areas
Ticks introduce Babesia spp. sporozoites from the ticks’ salivary glands into small mammals/humans during feeding. The sporozoites infect erythrocytes in which they asexually reproduce by budding and develop through various stages into gametocytes.
Blood or bone marrow culture and other infected bodily tissues (urine, CSF); serology; PCR.
Diphyllobothriosis, Dibothriocephaliasis, broad or fish tapeworm infection
Demonstration of Strongyloides larvae on repeated stool specimens by microscopy. Serological tests. PCR has higher sensitivity than microscopy.
Taenia solium infection, neurocysticercosis, cerebral cysticercosis, taeniosis, taeniasis.
Inhalation of spores from disturbed soil.
Access to clean water and sanitation; protective clothing for occupational risk; after accidental exposure, dry the skin and apply 70% alcohol;
Vaccination with vaccines based on capsular polysaccharides.
The dimorphic fungi: Histoplasma capsulatum (worldwide) and H. capsulatum var. duboisii (Africa)
Personal anti-tick precautions and inactivated mouse-brain vaccine
Piscivorous (fish-eating) mammals, including: humans, dogs, cats, pigs, rats, and several species of wild animals
Human.
Control deer population; avoid areas with ticks; tick bite precautions: cover skin, repellent on skin and clothing
HME, HGA: fever, headache, anorexia, myalgia, nausea, and vomiting; occasionally a rash. Sennetsu fever: sudden onset fever, chills, malaise, headache, muscle and joint pain, sore throat
Through inhalation of aerosolized microconidia from disturbed soil or guano. Also by inoculation and organ transplantation.
Sudden onset of high fever, headache, chills, vomiting, myalgias, photophobia and dysthesias
Francisella tularensis tularensis (Type A), F. tularensis holarctica (Type B), F. tularensis mediasiatica
Ribavirin in combination with peg-interferon. 
During blood meal, the sandfly ingests infected blood with amastigotes. In the host cell the promastigotes develop into amastigotes.
Simian variola.
TBRF is primarily transmitted by Ornithodoros ticks. LBRF is transmitted by the human body louse (Pediculus humanus)
High fever, conjunctivitis, coryza, cough, maculopapular rash beginning on the face, spreading downwards to reach the hands and feet. Characteristic small white spots (Koplik spots) on the buccal mucosa. Complications may consist of otitis media, pneumonia, laryngotracheal bronchitis (croup), blindness, severe skin infections, severe diarrhea and encephalitis, sometimes fatal.
Hendra virus: manage contact between fruit bats and horse by basic husbandry measures such as placing food and water points under cover, regulate movement of horses from areas where the disease is occurring, regulate import of horses from Australia during outbreaks. Nipah virus: avoid contact with fruit bats and their discharges;
Tabanid adult female flies, mainly Chrysops silacea, C. dimidiata, and C. distinctipennis.
Microscopy of stained thick blood smears; membrane filtration; PCR
Human infections occur via two main transmission routes: (1) mosquito bite, and (2) direct or indirect contact with the blood or organs of infected animals (e.g. slaughtering, butchering, veterinary procedures, animal births, disposing of carcasses or fetuses) by percutaneous inoculation or inhaling aerosols.
Cases are mainly sporadic and have been reported in humid areas of the tropics and subtropics world wide, mainly during the rainy season. Sporadic human infections with glanders (B. mallei), occur in equine veterinarians and pathologists, horse butchers, and laboratory workers.
Vector control; mosquito repellent; insecticidetreated bed nets; treatment of infected humans.
Humans are the main reservoir.
Usually asymptomatic or mild. Diarrhea alternating with constipation, vomiting and anorexia, edema of the face, abdominal wall and legs, ascites.
This is unknown at present.
Combination of atovaquone and azithromycin for mild-to-moderate illness, clindamycin and quinine for severe disease.
Healthy humans
Blastomyces dermatitidis (teleomorph Ajellomyces dermatitidis)
Principally humans;
Pasteurize milk; hygienic measures in farms and slaughter houses; screening of livestock.
Rat–mollusc–rat;
Drain abscesses, iv ceftazidime, meropenem or imipenem
Culture (cysteine-enriched media) or PCR on specimens of affected tissues. Serology on acute and convalescent sera.
The fungus can be isolated from nine-banded armadillos (Dasypus novemcinctus). The disease has also been reported in dogs and other animals.
Anthrax has a worldwide distribution. Anthrax occurs mainly in rural areas in countries where there is no livestock vaccination and no veterinary control of slaughtered animals. Of note is the terrorist distribution of anthrax powder by mail in the USA in 2001 killed 5 people.
Pus contains visible granules, histopathology of biopsy, culture (slow).
The disease mainly affects the skin, peripheral nerves, mucosa of the upper respiratory tract and the eyes. Patients are classified as having either PL or ML. PL is milder and characterized by < 5 skin patches or lesions. ML is defined as 5 skin patches or lesions.
Studies of unvaccinated populations in some western countries indicate that almost everyone will be infected with mumps by adulthood; however the epidemiology of mumps is less well characterized in developing countries.
from a gingival inflammation to severe, mutilating orofacial gangrene. It begins as a small vesicle or ulcer on the gingiva that rapidly becomes necrotic
Hares, hedgehogs, wild mice, livestock, ostriches, ticks also serve as reservoirs.
Group C viruses are geograpically limited to the tropical and subtropical areas of the Americas, and were first described in the Brazilian Amazon in the 1950s
Early-stage lesions are generally infectious. The disease has a relapsing clinical course with mainly skin manifestations
Bat to bat via unknown route. Humans and domestic animals are incidental hosts.
It is estimated that 37 million people are infected worldwide, 97% of them in Africa, and remaining in small foci in Central and South America and Yemen.
Viremic reservoir host to mosquito during feeding
By mosquito bite (Anopheles spp.); transmission has been described in needle sharing IVDUs and blood transfusion.
Zika virus is present in the tropical regions in the Old World and is absent from the Americas (a single case in the USA was imported from Yap island). The competence of mosquitoes on the American continent for Zika virus is unknown. The geographic distribution is confirmed by virus isolation from cases, mosquitoes and sentinel monkeys.
Microscopy for eggs in stool (S. mansoni) or urine (S. haematobium) samples; quantification of eggs in stool by Kato–Katz method; PCR.
Praziquantel; surgery in case of biliary obstruction.
Domestic and peridomestic rodent control, disinfection of rodent-contaminated areas.
Epidemic non-A non-B hepatitis, fecal–oral non-A non-B hepatitis, enterically transmitted nonA non-B hepatitis.
Avoid tick bites, use repellent on skin and repellent or acaricide on clothing, check body daily for ticks after exposure, boil or pasteurize milk from cows, sheep, and goats in endemic areas.
Female blackflies (Simulium).
Deer and dogs (E. chaffeensis, E. ewingii). The whitetailed deer. Deer, ruminants, and field rodents (A. phagocytophilum);
Rarely reported in the Americas and Europe, sporadic in parts of Southeast Asia, especially Thailand, China, and Vietnam. Since S. suis is often misidentified, S. suis may be more common in certain parts of the world with high pig densities.
Typically a cardiopulmonary infection as opposed to the primarily renal infection produced by Old World hantaviruses
Soil with high nitrogen content, particularly areas with a lot of bird or bat guano, like barns and caves.
By mosquito bite.
Self-limiting conjunctivitis, including watery or mucopurulent discharge. Typical findings are lymphoid follicles and papillary hypertrophy
Humans
Infections are most frequent in a period of drought and winds (dust storms) after heavy rains that advance mold growth, usually late summer or early fall. It is estimated that more than 150,000 primary infections occur annually in the USA. Infections outside the western hemisphere are extremely rare and primarily imported.
Avoid exposure to feces of reservoir species wash hands, fruit and vegetables, periodically treat high-risk dogs, eliminate ownerless dogs.
Brucella spp. is introduced into animals via inhalation, broken skin, or mucosa and invades local lymph nodes. Vacteria are shedded into the environment by milk, urine, and uterine discharge, leading to new infections in exposed animals and humans.
Clostridium tetani
culture or PCR. S. pneumoniae antigen test in urine.
E. histolytica is distributed world wide, especially in countries with poor sanitation and little access to clean water. E. histolytica infection is endemic in Mexico, India, South Africa, some Central and South American countries, and Asian Pacific countries.
High altitude rodents, including ground squirrels and porcupines; ticks by trans-stadial transmission; 
Serology (IgM ELISA, IFA of erythrocytes) and RT-PCR from the blood or CSF.
The HTLV-1infected individual who tends to immunoactivation can develop HTLV-associated uveitis, polymyositis, inclusion body myositis, arthritis, pulmonary infiltrative pneumonitis, Sjogren syndrome and HAM/TSP.
Direct: acid fast smear/culture and PCR of sputum and other body fluids. serological: tuberculin skin test (Mantoux); interferon gamma release assays (IGRAs); PCR allows for early detection
Consumption of raw or undercooked uneviscerated fish that have ingested infected feces of humans or waterfowl.
Pentavalent antimonials; pentamidine; amphotericin.
Supportive, there is no specific treatment.
Fish-eating mammals (including humans) shed C. sinensis eggs into the environment that are ingested by snails, where they develop into cercariae. The motile cercariae are released into water and infect freshwater fish and encyst in meat and skin as metacercariae
conventional microscopy; blood culture; quantitative buffy coat (QBC) fluorescence; PCR.
Influenza A subtype H5N1, a RNA virus, family Orthomyxoviridae. 
Phlebotomine sandfly: Lutzomyia spp. (New World) and Phlebotomus spp. (Old World).
Epidemic or louse-borne relapsing fever (LBRF), endemic or tick-borne relapsing fever (TBRF).
Taeniosis: detection of eggs in stool by microscopy; serology; Neurocysticercosis: histology; CT or MRI scan brain;
Angiostrongylus cantonensis
Treponema pallidum ssp. endemicum (bejel), T. pallidum ssp. pertenue (yaws), and T. carateum (pinta)
IgM capture or IgG ELISAs
Hemorrhagic fever with renal syndrome (HFRS), Korean Hemorrhagic Fever, Hemorrhagic Nephrosonephritis, Nephropathia epidemica
The principal clinical feature of tetanus is painful skeletal muscle spasms and rigidity.
None.
Detection of virus in respiratory specimens, stool or blood by RT-PCR
None.
Large marsupials, particularly kangaroos and wallabies.
Argentinian (Junin virus), Bolivian (Machupo virus), Brazilian (Sabia virus), and Venezuelan (Guanarito virus) hemorrhagic fevers.
Animal–mosquito–animal with spillover to humans in epidemics via direct/indirect contact to infected animal tissue or mosquito bite.
Bilharziasis, Katayama fever or syndrome, urogenital and intestinal schistosomiasis.
Supportive with pain management.
Infected individuals shed bacteria into environment, contaminating water and food products
Cattle with Bovine Spongiform Encephalopathy.
Microscopy to detect microfilariae; immunochromatic test cards; ultrasound to locate ‘nests.’
Undetermined. Thought to be forest rodents (squirrels, rats, mice, dormice), shrews and monkeys in the rainforests of West and Central Africa.
Hantavirus pulmonary syndrome (HPS), Hantavirus cardiopulmonary syndrome, Four Corners disease.
Larval mites.
Onchocerca volvulus
The tick feeds on an infected host, the virusmultipliesin the tick’s midgut and spreads to the salivary glands, to be injected into another host at the next feed, where it infects erythrocytes. 
Yersinia pestis
Contact with freshwater bodies containing cercariae that penetrate skin or mucous membranes
The mosquito becomes infected with MAYV during feeding on a viremic host. The virus crosses the gut wall and multiplies in the organs of the mosquito. After a few days, depending on the ambient temperature, the virus reaches the salivary glands and is injected into the next host during feeding.
Sudden onset of high fever (biphasic), chills, myalgia, arthralgia, severe headache, ocular pain, conjunctivitis, anorexia, nausea, and sometimes vomiting.
Bunyamwera group viruses are enveloped, singlestranded, RNA viruses genus Orthobunyavirus of the family Bunyaviridae
Serology to detect specific IgM antibodies; RT-PCR to detect viral RNA in blood or stool.
Community management by SAFE strategy
Bartonella bacilliformis
Early diagnosis and treatment; safe sexual practices (condom use). Proper bodily hygiene.
Supportive, there is no specific treatment.
Serology (acute and convalescent sera) using the microscopic agglutination test (MAT). PCR may provide early diagnosis.
For bacteria, clindamycin, trimethoprim-sulfamethoxazole, long-acting sulfonamides; for fungi, itraconazole, ketaconazole, or voriconazole.
None.
Painless cutaneous lesions appear at the site of sandfly bite and typically these develop into ulcers with a raised border. Multiple lesions and regional lymphadenopathy may be present.
By tick bite; larval ticks are carried on migrating birds, which are refractory to the virus.
Paracoccidioides brasiliensis, a dimorphic fungus.
Supportive and antibiotics: oral doxycycline, ampicillin or amoxicillin for mild disease, parenteral penicillin G, ceftriaxone or cefotaxime for severe disease.
Fever, cough, hemoptysis, and pleuritic chest pain.
Wild
Mumps is preventable by the use of live attenuated mumps virus vaccines.
By sexual contact.
Praziquantel is recommended
By inhalation of aerosolized excreta of the rodent host, or contact with food or household items contaminated with rodent excreta.
Japanese encephalitis virus (JEV)
Microscopy for eggs, larvae and/or adult worms in the stool, or in intestinal biopsies for C. philippinensis
Dust control where feasible (e.g. paving roads). Screening of organ donors for coccidioidomycosis in endemic areas.
Buruli ulcer is named after Buruli county in Uganda, where the disease was common in the 1960s. The disease is reported in 30 countries with tropical climates, but it may occur in some temperate regions.
Individuals with trichiasis require eyelid surgery. Active disease requires antibiotics: azithromycin or tetracycline eye ointment are recommended.
Infective larvae migrate out of the mouth part of the fly during bite onto the skin and subsequently enter the wound.
By airborne droplets from or contact with nose and throat secretions of infected persons, very high from 4 days before to 4 days after rash appears, or with fomites contaminated with those secretions
Ingestion of tapeworm eggs from feces of foxes, dogs, and cats or contaminated fomites.
Hendra virus: pteropid bats are the primary reservoir of Hendra virus and are asymptomatic.
Supportive, there is no specific treatment
For C. philippinensis: fish-eating birds. Freshwater fish are intermediate hosts.
None.
Rodent control in and around dwellings; infection control in hospitals, with barrier nursing and precautions to avoid contact with body fluids.
Mosquitoes
The principle vector is the human body louse (Pediculus humanus corporis), which lives in clothes.
Occupational hygiene by the use of protective clothing and avoiding contaminated surface waters. Chemoprophylaxis for adventure travelers, military personnel who visit endemic areas, and after an accidental lab exposure.
Mainly humans.
Soil, animal hair, wool or hides, particularly goat skins contaminated with soil.
Direct fecal–oral transmission and via contaminated surfaces.
World wide, but close to elimination in the Americas and targeted for elimination in Europe by 2015. In the absence of vaccination the prevalence of rubella infection by the age of 13 years ranges from 20 to 95%, but is most often over 50%. Reported data on clinical rubella are a vast underestimate since it is a mild disease with a clinical picture similar to several other infections.
Lassa fever virus (LFV), a spherical, enveloped, bisegmented negative strand RNA virus of the genus Arenavirus in the family Arenaviridae.
Lice infestation (pediculosis) can be controlled by treating clothes and bedding with insecticides or boiling (bedding at shelters is a major source of lice infestation).
By contact with the excretions, or materials contaminated with the excretions, of an infected rodent, such as ingestion of contaminated food or by direct contact of abraded or broken skin with rodent excrement.
Characterized by high fever of 2–7 days. Initial symptoms include generalized body aches, myalgias, arthralgias, headache, chills, sweats, and a transitory rash. Later symptoms may include nausea, vomiting, dry cough, photophobia, neck pain, conjunctivitis, jaundice, hepatosplenomegaly, confusion
For S. stercoralis: mainly humans
Chikungunya virus (CHIKV), an enveloped RNA virus, genus Alphavirus in the family Togaviridae.
ticks and biting flies (deer flies, tabanids). Dermacentor reticulatus and Ixodes ricinus
Rickettsia aeschlimannii, R. africae (ATBF), R. australis (QTT), R. conorii caspia (AF), R. conorii conorii (MSF), R. conorii indica (ITT), R. conorii israelensis (ISF), R. helvetica, R. honei (FISF), R. japonica (JSF/OSF), R. massiliae, R. sibirica (STT/ NATT)
Microscopy (Kato-Katz method).
Mosquito to reservoir animal to mosquito. There is an enzootic cycle, mainly between C. taralsis and passerine birds. There is a secondary cycle that involves rabbits. Viremia lasts 2–5 days in birds. Extrinsic cycle in the mosquito lasts up to 7 days but transmission can occur in as little as 4 days.
Lockjaw.
Since the end of 2003 the A/H5N1 virus has spread globally, infecting poultry in over 60 countries and causing the loss of over 250 million poultry. In 2010 HPAI H5N1 remained entrenched in poultry in several Asian countries and Egypt. 
Japan, Africa, Caribbean islands and South America are the areas of highest prevalence, but the reasons for this are unknown.Distribution of the infection is focal, e.g. Brazil, Japan, and Iran, where HTLV-1 is limited to certain areas of each country. For non-endemic areas such as Europe and North America, HTLV-1 infection is mainly found in immigrants from endemic areas, their offspring and sexual contacts, among sex workers and IVDUs. 
WNV was cultured for the first time from a woman with a fever of unknown origin in the West Nile district of Uganda in 1937. Molecular studies suggest that WNV emerged in Africa and spread through migrating waterbirds. Until the introduction of WNV in New York in 1999, WNV infections usually caused mild disease outbreaks and episodes of neuroinvasive disease in the old world. Since the introduction to northeast America, the virus has spread to most regions in North America, Canada, Mexico, the Caribbean and several cases in South America.
Microscopy: in Giemsa-stained blood; rapid diagnostic tests (RDTs); PCR.
The mites are infected by feeding on reservoir animals (small rodents), and maintain the infection throughout their life stages.
Immunization with tetanus toxoid (inactivated tetanus toxin)
Prevent intimate contact with cases and contamination of environment from lesions.
Animal to animal, with occasional spill over to humans. Sustained human-to-human transmission has not been documented.
The cestode Diphyllobothrium latum (fish or broad tapeworm)
Dengue-like fever with headache, malaise, arthralgia or myalgia for about 2 to 5 days
Prevention is focused on eliminating BSE in cattle, preventing infected bovinematerial entering the animal and human food chain, and reducing the risk of secondary transmission to humans in the healthcare setting.
Ivermectin; alternative: albendazole or thiabendazole.
Primary: BCG vaccination of children protects against disseminated disease. Secondary: intensive search for and treatment of source cases;
Fox–rodent–fox (sylvatic cycle).
P. falciparum malaria causes approximately 500 million cases each year and around one million deaths in Sub-Saharan Africa. High endemicity was most common and widespread in the African region.
Leptospirosis has a worldwide distribution, is more common in tropical regions where it is both an occupational disease and a disease of ‘daily lives,’ mainly during heavy rainfall. Most foci are found in Latin America and the Caribbean, India, Southeast Asia, Oceania, and eastern Europe. Leptospirosis is an emerging disease in slums, especially during rainy seasons.
Larva currens.
tick-borne relapsing fever is found world wide, except in Australia and New Zealand, and is rare in Europe and North America. LBRF is now found sporadically in epidemics in Africa, and is associated with refugee camps, natural disasters, and famine.
Hendra virus: encephalitis and pneumonia, with a rapid progression to death (few survive).
Streptococcus pneumoniae (pneumococcus)
Nantucket fever, Piroplasmosis.
No specific treatment is available.
Chronic, painless skin nodule that progresses to a severe,deforming ulcer. skin lesions may also appear; osteomyelitis
